@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card m-b-30">
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>